#wrapper {
  background-image: url('../../../assets/images/svg/curve.svg');
  background-size: cover;
  background-position: 100% 100%;

  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-light);

    .top-wrapper {
      width: 600px;
      margin-top: 100px;

      @media (max-width: 768px) {
        width: 90%;
      }

      hr {
        width: 45px;
        margin: auto;
        border: 0.5px solid var(--color-primary);
      }

      p {
        color: var(--color-text-darkish);
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        padding-top: 25px;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 50% 50%;

      @media (max-width: 768px) {
        grid-template-columns: auto;
      }

      img {
        width: 100%;
        max-height: 100%;

        @media (max-width: 768px) {
          max-height: 300px;
          max-width: 400px;
        }
      }

      .middle-wrapper {
        padding-left: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;

        @media (max-width: 768px) {
          max-height: 260px;
          max-width: 300px;
          padding-left: 0;
        }

        .inner-wrapper {
          @media (max-width: 768px) {
            margin-top: 100px;
            padding-left: 50px;
          }
        }

        h2 {
          color: var(--color-text-dark);
        }

        .flex {
          display: flex;
          margin: 15px 0;

          hr {
            width: 20px;
            margin-right: 5px;
            border: 1px solid var(--color-primary);
          }

          :nth-of-type(2) {
            width: 50px;
          }
        }

        h2 {
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 3px;

          @media (max-width: 768px) {
            font-size: 20px;
          }
        }

        p {
          color: var(--color-text-darkish);
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          padding-bottom: 40px;

          @media (max-width: 768px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}
