button {
  background-color: var(--color-button-primary);
  margin-top: 40px;
  font-size: 12px;
  padding: 12px 40px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.2);
}
