:root {
  --color-primary: #5a53ea;
  --color-background: #5851ea;
  --color-background-light: #ffffff;

  --color-border-form: rgb(145, 144, 144, 0.3);

  --color-button-primary: #5851ea;
  --color-button-primary-hover: #716afd;
  --color-text-in-button-primary: #ffffff;

  --color-button-light: #ffffff;
  --color-text-in-button-light: #5851ea;

  --color-text-primary: #5851ea;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-darkish: #919090;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* makes page always have total height */
html,
body,
#root {
  height: 100%;
}

body {
  background: var(--color-background);
}

body,
input,
button {
  font: 500 1.2rem Poppins;
  color: var(--color-text-light);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
