nav {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 30px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  li a {
    margin: 0 13px;
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 11px;
  }

  .prop-button a {
    padding: 7px 15px;
    background-color: var(--color-button-light);
    outline: none;
    cursor: pointer;
    color: var(--color-text-primary);
    border: none;
    border-radius: 25px;
  }
}
